/* mobile */
@media only screen and (min-width: 100px) {
    .midPart h1{
        font-size: 6em ; 
        text-align: center;
    }

    .midPart {
        margin-top: 10%;
        /* background-color: aqua; */
        margin-left:5% ;
        margin-right:5% ;
        text-align: center;
    }
    .midPart h3{
        font-size: 1.5em; 
    }
    .midPart input{
        width: 100%;
    }
    .searchbar{
        width: 700px;
    }
    .foostPart{
        font-size: 2em;
        margin-top: 3%;
        /* background-color: aqua; */
        text-align: center;
        margin-bottom: 0px;
    }
    .foodList{
        margin:auto;
        width:700px;
    }
}

/* desktop */
@media only screen and (min-width: 1000px){
    .midPart h1 {
        font-size: 3em ;
        text-align: left;
    }
    .midPart {
        margin-top: 5%;
        /* background-color: aqua; */
        text-align: center;
        margin-left:15% ;
        margin-right:15% ;
    }
    .midPart h3{
        font-size: 1em;
    }

    .midPart input {
        width: 80%;
        border-radius: 12px;
        padding: 1%;
    }
    .midPart input[type=text] {
        margin: 20px;
    }
    
    /* footer */
    
    .foostPart {
        margin-top: 3%;
        /* background-color: aqua; */
        text-align: left;
        margin-left:15% ;
        margin-right:15% ;
        margin-bottom: 0px;
        font-size:1.5em;
    }
    
    .foodList {
        /*border: 1px red solid;*/ 
        width: 85%;
        margin-left: 15%;
        margin-right: 10%;
        margin-top: 0px;
        padding-bottom: 100px;
        padding-top: 0px;
    }
    .foodList h3{
        text-decoration: underline;
        margin-bottom:1px;
    }
    .foodList span{
        display:block;
        margin-top: 4%;
        margin-bottom: 4%;
    }
    .foodList p{
        margin-bottom:1px;
        display:inline;
    }
    .foodList h4{
        display: inline;
        margin-left: 20%;
    }
    .foodList button{
        border-radius: 12px;
        margin-bottom:3px;
    }
    
    .foodList div {
        /*border: 10px red solid;*/
        width: 20%;
        height: 400px;
        margin-right: 2%;
        display: inline-block;
        overflow: hidden;
        padding-bottom: 30%;
    }
    
    .foodPic {
        width: 90%;
        position: relative;
    }
    .bar{
        margin:0 auto;
        width:700px;
        border-radius:30px;
        border:1px solid #dcdcdc;
        
      }
      .bar:hover{
        box-shadow: 1px 1px 8px 1px #dcdcdc;
      }
      .bar:focus-within{
        box-shadow: 1px 1px 8px 1px #dcdcdc;
        outline:none;
      }
      .searchbar{
        height:10px;
        border:none;
        
        width:575px;
        font-size:16px;
        outline: none;
        
      }
      .search{
        height:20px;
        position:relative;
        top:5px;
        left:10px;
      }
      .bar button{
          border:none;
          outline: none;
          background-color: #ffffff;
      }
    
}
/* main */
/*
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin:  10% 5%;
}
.midPart {
  display: flex;
  flex-direction: column;
  max-width: 1100px;
  width: 100%;
}
.midPart h1 {
  text-align: left;
}

/* footer
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin:  10% 5%;
}
.foostPart {
  margin-top: 3%;
  /* background-color: aqua; 
  text-align: left;
  margin-bottom: 0px;
}

.foodList {
  /*border: 1px red solid;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 0px;
  padding-bottom: 100px;
  padding-top: 0px;
}
.foodList h3{
  text-decoration: underline;
  margin-bottom:1px;
}
.foodList span{

   margin-top: 4%;
  margin-bottom: 4%;
}
.foodList p{
  margin-bottom:1px;
  display:inline;
}
.foodList h4{
  display: inline;
  margin-left: 20%;
}
.foodList button{
  border-radius: 12px;
  margin-bottom:3px;
}

.foodList div {
  /*border: 10px red solid;
  width: 20%;
  height: 400px;
  margin-right: 2%;
  display: inline-block;
  overflow: hidden;
  padding-bottom: 30%;
}
*/
