
.topBar {
    margin-top: 20px;
    text-align: right;
  }
  .topBar button {
    margin-right: 40px;
    border-radius: 12px;
    border-width: 1px;
    width: 115px;
    height: 40px;
    background-color: pink;
    font-size: 20px;
  }
  .topBar a {
    font-size: 20px;
    margin-right: 40px;
  }
  .topBar form{
    display: inline-block;
  }

.topRight{
    text-align: right;
}

.center {
    margin-top: 200px;
    text-align: center;
}

.search {
    padding: 10px;
    font-size: 20px;
    border: 1px solid grey;
    float: left;
    width: 90%;
    background: #f1f1f1;
  }

.checkboxes {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  margin: auto;
  width: 50%;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkcenter {
    
}
